@use "../base//typography";
@use "../themes/default" as theme;

.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 20vh;
  font-family: $body-font-stack;
  font-size: 20px;
  color: map-get(theme.$colors, "surface1");

  @include media(">phone", "<=tablet") {
    flex-flow: column nowrap;
    gap: 20px;
  }
}

.footer a {
  font-weight: $font-weight-semibold;
  color: map-get(theme.$colors, "mauve");
}

.footer-body-container {
  width: 50%;
  padding: 0px 96px 0px 96px;

  @include media(">phone", "<=tablet") {
    width: 100vw;
    padding: 0px 24px 0px 24px;
  }
}

.socials-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 40px;
  width: 50%;
}
