@use "../base/typography";
@use "../themes/default" as theme;

.hero {
  display: flex;
  flex-flow: row nowrap;
  height: 80vh;
}

.hero-image {
  filter: grayscale(100%);
  width: 50vw;
  height: 100%;
  border-bottom-left-radius: 54px;
  object-fit: cover;
}

.hero-left {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 50vw;
}

.hero-heading {
  font-family: $heading-font-stack;
  font-weight: $font-weight-regular;
  font-size: 96px;
  margin: 0;
  padding: 0;
}

.hero-body-container {
  width: 100%;
  padding: 0px 144px 0px 144px;
}

.hero-body {
  font-family: $body-font-stack;
  font-size: 18px;
}

.red {
  color: map-get(theme.$colors, "red");
}

.peach {
  color: map-get(theme.$colors, "peach");
}

.yellow {
  color: map-get(theme.$colors, "yellow");
}

.green {
  color: map-get(theme.$colors, "green");
}

.blue {
  color: map-get(theme.$colors, "blue");
}

.lavender {
  color: map-get(theme.$colors, "lavender");
}

.mauve {
  color: map-get(theme.$colors, "mauve");
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;
}
