@use "../base/typography";
@use "../themes/default" as theme;

.hero {
  display: flex;
  flex-flow: row nowrap;
  height: 80vh;
  color: map-get(theme.$colors, "base");

  @include media(">phone", "<=desktop") {
    flex-flow: column-reverse nowrap;
    height: 100%;
  }
}

.hero-image {
  filter: grayscale(100%);
  width: 50vw;
  height: 100%;
  border-bottom-left-radius: 54px;
  object-fit: cover;

  @include media(">phone", "<=desktop") {
    width: 100vw;
    border-radius: 0px;
  }
}

.hero-left {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 50vw;

  @include media(">phone", "<=desktop") {
    width: 100vw;
    gap: 20px;
  }
}

.hero-heading {
  font-family: $heading-font-stack;
  font-weight: $font-weight-regular;
  font-size: 96px;
  margin: 0;
  padding: 0;

  @include media(">phone", "<=desktop") {
    padding-top: 20px;
    font-size: 64px;
  }
}

.hero-body-container {
  width: 100%;
  padding: 0px 96px 0px 96px;

  @include media(">phone", "<=tablet") {
    padding: 0px 24px 0px 24px;
  }
}

.hero-body {
  font-family: $body-font-stack;
  font-size: 18px;
  color: map-get(theme.$colors, "surface1");
}

.red {
  color: map-get(theme.$colors, "red");
}

.peach {
  color: map-get(theme.$colors, "peach");
}

.yellow {
  color: map-get(theme.$colors, "yellow");
}

.green {
  color: map-get(theme.$colors, "green");
}

.blue {
  color: map-get(theme.$colors, "blue");
}

.lavender {
  color: map-get(theme.$colors, "lavender");
}

.mauve {
  color: map-get(theme.$colors, "mauve");
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 100%;

  @include media(">phone", "<=tablet") {
    align-items: center;
    flex-flow: column nowrap;
    gap: 32px;
  }
}
