// -----------------------------------------------------------------------------
// This file contains styles related to typography.
// -----------------------------------------------------------------------------

/**
 * General variables.
 */
$heading-font-stack: "Gilda Display", serif;
$body-font-stack: "Inconsolata", "Open Sans", "Helvetica Neue Light",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

$font-weight-regular: 400;
$font-weight-semibold: 600;
