@use "../base/typography";
@use "../themes/default" as theme;

#contact-page {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: $body-font-stack;
  font-size: 16px;
  font-weight: $font-weight-regular;
  line-height: 133%;
  color: map-get(theme.$colors, "surface1");

  @include media(">phone", "<=desktop") {
    flex-flow: column-reverse nowrap;
  }
}

#contact-main-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 0px 80px 0px 80px;

  @include media(">phone", "<=desktop") {
    justify-content: flex-start;
    width: 100%;
    padding: 16px 48px 16px 48px;
    text-align: justify;
  }
}

#contact-main-content h1 {
  font-family: $heading-font-stack;
  font-size: 64px;
  color: map-get(theme.$colors, "base");

  @include media(">phone", "<=desktop") {
    font-size: 48px;
  }
}

#contact-main-content p a {
  font-weight: $font-weight-semibold;
  color: map-get(theme.$colors, "mauve");
}

#contact-image-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;

  @include media(">phone", "<=desktop") {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 20vh;
  }
}

#contact-image-container img {
  filter: grayscale(100%);
  width: 550px;
  height: 550px;
  object-fit: cover;

  @include media(">phone", "<=desktop") {
    width: 100vw;
    height: 100%;
  }
}

#contact-button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;

  @include media(">phone", "<=desktop") {
    flex-flow: column nowrap;
    align-items: space-between;
    gap: 24px;
  }
}

#contact-button-container .button {
  @include media(">phone", "<=desktop") {
    width: 100%;
  }
}
